{% extends "_layout.html" %}

{% block content %}
<div class="block1">
<h2 align="center" style="color: white;">Ford Mustang</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/model2.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/static/car1.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/static/car2.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/static/car3.jpg" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
<hr>
<div class="textcols">
  <div class="otst1 textcols-item">
    <p><b>Ford Mustang</b> ставший культовым автомобиль семейства пони-кар, производимый компанией Форд с 1964 по наши дни.  За это время было выпущено уже 6 поколений этого легендарного автомобиля.</p>
    <p>Спаситель компании! Именно с таким смыслом и создавался Ford Mustang, ведь в то время концерн переживал тяжелые времена, которые только усугубились провалом с моделью Edsel. Исправить положение мог только сверхудачный автомобиль, разработку которого доверили Ли Якокке и его профессиональной команде. Они и создали будущую легенду дорог – Ford Mustang.</p>
    <p>Проанализировав рынок и желания клиентов, Ли Якокка понял, что покупателям очень импонируют последние поколения Ford Thunderbird, однако им хотелось чего-то более демократичного. Поэтому Ли Якокка решил взять за основу спортивный силуэт с длинным капотом, тонкими бамперами, круглыми фарами и относительно коротким багажным отсеком.</p>
    <p>Примечательно, что сначала у модели было название «Пантера» («Cougar») и даже была разработана эмблема, но незадолго до запуска в серию решили остановиться на «Mustang».</p>
    <p>С начала производства в 1964 году по сегодняшний день Мустанг – это самая долговыпускаемая модель Форда! В настоящее время он находится в шестом поколении и является пятым самым продаваемым автомобилем марки Ford. Он стал первым так называемым «маслкаром», которым характерны следующие характеристики: задний привод, подвеска и трансмиссия как у обычных машин, длинный капот, короткая крышка багажника, использование деталей, узлов и агрегатов от обычных легковых моделей этого же автопроизводителя.</p>
    <p>Первоначально прогнозировалось, что ежегодно будет продаваться 100 000 автомобилей, но Mustang 1965 года стал самым успешным автомобилем со времен Model A 1927 года. Презентованный 17 апреля 1964 года, в первый год было продано более 400 000 автомобилей. Миллионный Mustang был продан в течение двух лет после запуска. А в августе 2018 года Ford выпустил 10-миллионный Mustang!</p>
    <p>Успешный запуск Мустанга породил массу конкурентов от американских автопроизводителей: Chevrolet Camaro и Pontiac Firebird (1967), AMC Javelin (1968) и Dodge Challenger (1970). Мустанг повлиял на дизайн спортивных купе во всем мире, что привело к появлению на рынке Toyota Celica и Ford Capri в Соединенных Штатах.</p>
    <p>С 1965 по 2004 год Mustang имел общее шасси с другими моделями Ford, оставаясь заднеприводным на протяжении всего периода производства. С 1965 по 1973 год Mustang был вариацией компактного Ford Falcon 1960 года. С 1974 по 1978 год Mustang (назывался Mustang II) был более длинной версией Ford Pinto. С 1979 по 2004 год Mustang делил шасси на платформе Fox с 14 другими автомобилями Ford (став последним автомобилем, использовавшим архитектуру Fox). С 2005 года компания Ford выпустила два полностью обновлённых поколений Мустанга, каждое из которых использует отдельную платформу, уникальную для данного модельного ряда.</p>
    <p>На протяжении всего периода производства Ford Mustang, различные эксклюзивные комплектации носили множество названий, среди которых: GT, Mach 1, Boss 302/429, Cobra, Shelby GT500 и Bullitt, а также шильдик "5.0" на крыле (обозначающий двигатели 4,9 л OHV или 5,0-литровую «восьмёрку» DOHC).</p>
  </div>
  <div class="textcols-item">
    <img src="/static/model1.jpeg" alt="" width="100%"
  </div>
</div>
{% endblock %}