{% extends "_layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#one">
                <div class="textjpg">
                    <img src="/static/nav1.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>ПЕРВОЕ ПОКОЛЕНИЕ</span>
                    <p>1965-1973</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#two">
                <div class="textjpg">
                    <img src="/static/nav2.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>ВТОРОЕ ПОКОЛЕНИЕ</span>
                    <p>1974-1978</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#three">
                <div class="textjpg">
                    <img src="/static/nav3.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>ТРЕТЬЕ ПОКОЛЕНИЕ</span>
                    <p>1979-1993</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#four">
                <div class="textjpg">
                    <img src="/static/nav4.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>ЧЕТВЁРТОЕ ПОКОЛЕНИЕ</span>
                    <p>1994-2004</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#five">
                <div class="textjpg">
                    <img src="/static/nav5.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>ПЯТОЕ ПОКОЛЕНИЕ</span>
                    <p>2005-2014</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#six">
                <div class="textjpg">
                    <img src="/static/nav6.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>ШЕСТОЕ ПОКОЛЕНИЕ</span>
                    <p>2015-2023</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-4 hover-text-one" style="padding-left: 0px;  padding-right: 0px;">
            <figure class="effect-text-three">
            <a href="#seven">
                <div class="textjpg">
                    <img src="/static/nav7.jpg" alt="" class="img-fluid">
                    <figcaption>
                    <div class="textjpg_1">
                    <span>СЕДЬМОЕ ПОКОЛЕНИЕ</span>
                    <p>2024-н.в.</p>
                    </div>
                    </figcaption>
                </div>
                </a>
            </figure>
        </div>
    </div>
</div>

<div class="block1"><p><a id="one"></a> </p>
    <h2 align="center" style="color: white;">ПЕРВОЕ ПОКОЛЕНИЕ - 1964-1973 ГГ</h2>
    <img src="/static/chron21_004_b.jpg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <P>Днем рождения «Мустанга» можно считать 9 марта 1964 года, когда заводские цеха покинул первый автомобиль. А всего через год – в 1965 году – была выпущена версия в кузове фастбэк, назначением которой была конкуренция с Plymouth Barracuda. В целом же автомобили I поколения от модификации к модификации постоянно разрастались в габаритах – становились длиннее, шире и тяжелее. Успех был просто феноменальный – за один только 1964 год было продано 263 434 экземпляров.</P>
        <br>
        <p><strong>Двигатели и КПП</strong></p><br>
        <p>В качестве силового агрегата был избран 2,8-литровый атмосферный мотор с 6-цилиндровой компоновкой – им с Мустангом поделился Ford Falcon. Пару ему составляли как механические (3-ступенчатые), так и автоматические (2-х или 3-диапазонные) трансмиссии.</p>
        <br>
        <p><strong>Шасси</strong></p><br>
        <p>Ходовая часть была стандартной для того времени – спереди конструкторы Форда разместили двойные рычаги, тогда как на задней оси была установлена зависимая подвеска с неразрезной балкой ведущего моста и продольными рессорами полуэллиптического типа. Дополнялось все барабанными тормозными механизмами.</p>
        <p>Примечательно и то, что стабилизатор поперечной устойчивости можно было заказать исключительно как опцию за дополнительную плату. То же самое относилось к вакуумному усилителю тормозов и гидроусилителю руля.</p><br>
        <p><strong>Салон</strong></p><br>
        <p>Интерьер изначально был довольно простым, но в 1965 году в него добавили напольный рычаг КПП, радио, раздельные сиденья с регулировками и другие опции. А еще предлагалось 34 варианта расцветки салона!</p><br>
        <p><strong>Другие модификации</strong></p><br>
        <p>Уже через несколько лет появились спортивные версии Ford Mustang, причем самой популярной являлась версия от Кэррола Шелби – Cobra. Она оснащалась 8-цилиндровым V-образником с 306 лошадками. Но вскоре на рынок вышла Shelby GT-350R с мотором в 360 лошадиных сил. А для истинных гонщиков с 1966 года на модель устанавливался специальный турбонагнетатель (механического типа) Paxton, с которым двигатель выдавал уже 430 лошадиных сил, но в достаточно узком диапазоне оборотов.</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(first_generation)">подробнее здесь</a></p>
    </div>
    <div class="textcols-item">
       <img src="/static/model3.jpg" alt="" width="100%">
    </div>
</div>


<div class="block1"><p><a id="two"></a> </p>
    <h2 align="center" style="color: white;">ВТОРОЕ ПОКОЛЕНИЕ - 1974-1978 ГГ</h2>
    <img src="/static/mustangii.jpg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <P>Второе поколение Мустанга ознаменовало возвращение к истокам модели и даже далее. Продажи взлетели до 400 000 автомобилей в год.</P><br>
        <p><strong>Экстерьер</strong></p><br>
        <p>Внешность была создана на основе Ford Pinto, а сам автомобиль существенно ужали в размерах. В целом же он стал очень похож на первоначальные версии 1964 года. Выпускалась модель в кузовах купе и 3-дверный хэтчбек.</p><br>
        <p><strong>Двигатели</strong></p><br>
        <p>Тут все было еще серьезнее. Нефтяной кризис наложил свой отпечаток и на Ford Mustang, который был оснащен с завода невероятно маломощным мотором – 4-цилиндровым, 86-сильным двигателем в 2,3 литра с рядной компоновкой. Тем не менее, его динамика была на достойном уровне.</p>
        <p>Это был верный шаг и в компании снова угадали обстановку – не желающие переплачивать за топливо покупатели вновь потянулись к Мустангу. Но в качестве опций можно было приобрести автомобиль с агрегатами V6 (2,8 л) и V8 (4,6 л).</p><br>
        <p><strong>КПП и шасси</strong></p><br>
        <p>Коробку передач, в базовой комплектации, предлагали механическую, которая имела 4 скорости. Подвеска была пружинной, а еще Мустанг мог похвастаться реечным рулевым управлением.</p><br>
        <p><strong>Интерьер</strong></p><br>
        <p>Салон был выполнен довольно опрятно, с рублеными линиями торпедо и квадратной приборной панелью. Все это удачно сочеталось со светлой отделкой.</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(second_generation)">подробнее здесь</a></p>    
    </div>
    <div class="textcols-item">
       <img src="/static/model4.jpg" alt="" width="100%">
    </div>
</div>


<div class="block1"><p><a id="three"></a> </p>
    <h2 align="center" style="color: white;">ТРЕТЬЕ ПОКОЛЕНИЕ - 1979-1993 ГГ</h2>
    <img src="/static/model5.jpg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <p>Третье поколение Мустангов увидело свет в 1979 году. И хотя поколение считается единым, поклонниками марки оно разделяется на два этапа:</p>
        <ul>
            <li>1979—1986 – «foureyes»;</li>
            <li>1987—1993 – «aeronoses».</li>
        </ul>
        <br>
        <p><strong>Экстерьер</strong></p><br>
        <p>Новый мустанг получил прозвище «четырехглазый», так как до 1986 года выпускался с 4-мя головными фарами и треугольной формы передком. Но с 1987 г прошел рестайлинг и возобладал стиль «Aero» с плавными линиями, а также отсутствием решетчатых элементов на окнах и стопах.</p>
        <p>Автомобиль был доступен в четырех вариантах исполнения кузова:</p>
        <ul>
            <li>купе;</li>
            <li>кабриолет (только с 1983 года);</li>
            <li>хэтчбэк;</li>
            <li>седан.</li>
        </ul>
        <br>
        <p><strong>Двигатели</strong></p><br>
        <p>Наиболее радикальными в поколении стали перемены в подкапотном пространстве. Как и ранее, малолитражные агрегаты остались основными, но нефтяной кризис заканчивался, и в моду снова входили объемные и мощные моторы.</p>
        <p>Так, выпуск 4,9-литрового Ford Windsor 302 V8 был завершен (но в 1982 году его снова «вернули в строй» с небольшими изменениями), а в серию пошел новый Ford Windsor 255 V8, объемом 4,2 литра. Его мощность не впечатляла – всего 120 лошадиных сил, но и расход топлива был меньше, чем у предшественника.</p>
        <p>Очень выгодным представлялся двигатель 2,3 L Turbo 4, но его надежность оставляла желать лучшего из-за частых поломок турбокомпрессора. Кроме того, в линейки двигателей появился мотор 3,8 L Essex V6. А с 1986 году двигатели Мустанга начали комплектоваться системой EF – электронным впрыском топлива.</p>
        <br>
        <p><strong>Другие модификации</strong></p><br>
        <p>Ограниченными сериями выпускались также версии Ford Mustang GT350 (5 100 авто) и SVO.</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(third_generation)">подробнее здесь</a></p>    
    </div>
    <div class="textcols-item">
       <img src="/static/model6.jpg" alt="" width="100%">
    </div>
</div>


<div class="block1"><p><a id="four"></a> </p>
    <h2 align="center" style="color: white;">ЧЕТВЁРТОЕ ПОКОЛЕНИЕ - 1994-2004 ГГ</h2>
    <img src="/static/model7.jpg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <p>Четвертое поколение культового автомобиля появилось на свет в 1994 году и выпускалось на протяжении 10 лет, до 2004 года. За это время Мустанг пережил рестайлинг, который сделал его облик еще более динамичным и агрессивным.</p><br>
        <p><strong>Экстерьер</strong></p><br>
        <p>Это поколение получило абсолютно новый дизайн под кодовым именем «SN-95». по сравнению с предшественником автомобиль получил более округлые очертания, небольшую радиаторную решетку с большой эмблемой модели. Задние панели кузова были оснащены воздухозаборниками. При этом автомобиль имел классические «мустанговские» очертания кузова: длинную переднюю часть и укороченную заднюю.</p>
        <p>В 1999 году внешность автомобиля была немного изменена для придания более динамичного вида: линии кузова стали более угловатыми, капот получил большой воздухозаборник посередине, на крышке багажника был размещен спойлер. Рестайлинговая версия получила название «New Edge».</p>
        <p>Автомобиль был доступен в двух вариантах кузова:</p>
        <ul>
            <li>купе;</li>
            <li>кабриолет.</li>
        </ul>
        <br>
        <p><strong>Двигатели</strong></p><br>
        <p>В базовой комплектации Форд Мустанг поставлялся с 6-цилиндровым, V-образным мотором, объемом 3,8 литра, мощность которого составляла 145 или 150 лошадиных сил.</p>
        <p>Версии GT и Cobra оснащались гораздо более мощными, 5-литровыми двигателями, которые выдавали 228 и 240 лошадиынх сил, соответственно. Но в 1996 на сцену вышел 4,6-литровый V8 SOHC «Modular», мощностью 215 л. с., а через два года этот показатель возрос до 225 л.с..</p>
        <p>Самым мощным мотором, устанавливаемым на четвертое поколение был двигатель V8 с рабочим объемом 5,4 литра, выдававший 386 лошадиных сил и устанавливаемый на модель Ford Mustan Cobra R.</p>
        <p>Рестайлинговые версии Ford Mustang IV отличались наличием с 2001 года впускных коллекторов с изменяемой геометрией, что позволило заметно увеличить мощность моторов.</p>
        <br>
        <p><strong>Интерьер</strong></p><br>
        <p>Интерьер четвертого поколения в целом отвечал требованиям времени в вопросах эргономики, но вызывал нарекания по поводу качества пластика применяемого в отделке.</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(fourth_generation)">подробнее здесь</a></p>  
    </div>
    <div class="textcols-item">
       <img src="/static/model8.jpg" alt="" width="100%">
    </div>
</div>


<div class="block1"><p><a id="five"></a> </p>
    <h2 align="center" style="color: white;">ПЯТОЕ ПОКОЛЕНИЕ - 2005-2014 ГГ</h2>
    <img src="/static/model9.jpeg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <p>Ford Mustang V — сошел с конвейера в 2005 году и за время производства претерпел один рестайлинг. Поэтому историю поколение можно разделить на два этапа:</p>
        <ul>
            <li>2004-2009 гг – дорестайлинговая модель;</li>
            <li>2010-2014 гг – рестайлиновая версия.</li>
        </ul>
        <br>
        <p><strong>Экстерьер</strong></p><br>
        <p>Пятое поколение Ford Mustang было выполнено в «ретро-футуристическом стиле». Его дизайн создавался с оглядкой на первые версии 60-х годов. В 2010 году прошло обновление в ходе которого изменились многие кузовные панели и снизился коэффициент аэродинамического сопротивления.</p><br>
        <p><strong>Двигатели</strong></p><br>
        <p>Базовая модификация Ford Mustang оснащалась 4-литровым двигателем мощность 210 л. с..</p>
        <p>Версия GT оснащается 4,6-литровым V8 SOHC «Modular» которые выдает 300 лошадиных сил. А вот «заряженная» Shelby GT500 развивает 500 лошадиных сил, благодаря 5,4-литровому мотору.</p>
        <p>В 2010 году мощность 4,6-литрового и 5,4-литрового двигателей возросла до 315 и 540 л.с. соотвественно. Кроме того, на 2012 год пришлось появление нового двигателя V6 объемом 3,7 л и мощностью 305 л. с., и 5-литрового двигателя Coyote 5,0 выдающего 412 л.с..</p>
        <p>А вот двигатель 5,4L Shelby GT500 «сбросил» 46 кг веса и нарастил мощность до 550 л. с., благодаря установке алюминиевого блока цилиндров.</p>
        <p>В 2012 году был поставлен настоящий рекорд – появился Shelby GT500 с 5-литровым V8, который развивает 662 лошадиных силы.</p><br>
        <p><strong>КПП</strong></p><br>
        <p>Для моторов предназначены как 5-ступенчатые механические коробки передач, так и 5-ти и 6-ти ступенчатые «автоматы».</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(fifth_generation)">подробнее здесь</a></p>
    </div>
    <div class="textcols-item">
       <img src="/static/model10.jpg" alt="" width="100%">
    </div>
</div>


<div class="block1"><p><a id="six"></a> </p>
    <h2 align="center" style="color: white;">ШЕСТОЕ ПОКОЛЕНИЕ - 2015-2023 ГГ</h2>
    <img src="/static/model11.jpg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <p>В отличие от предыдущих моделей Mustang, Mustang шестого поколения оснащался полностью независимой задней подвеской на всех моделях, а также дополнительным 2,3-литровым четырехцилиндровым двигателем EcoBoost турбонаддувом и непосредственным впрыском топлива. Mustang был представлен как автомобиль 2015 модельного года, отмечая пятидесятилетие Ford Mustang, который был представлен как автомобиль 1965 модельного года 17 апреля 1964 года.</p>
        <p>Шестое поколение также было первым Ford Mustang, выпущенным на рынок по всему миру, и впервые в дополнение к моделям с левосторонним управлением были произведены заводские мустанги с правосторонним управлением. Это было частью бизнес-плана "One Ford", который также распространяется на Fiesta, Focus, Fusion/Mondeo, Escape/Kuga, Edge, Ford Transit Connect и Ford Transit, а также на другие модели.</p><br>
        <p><strong>Экстерьер</strong></p><br>
        <p>На переднюю часть Mustang шестого поколения повлияла концепция Ford "Evos", которая была представлена на Франкфуртском автосалоне в 2011 году. Использовались задние фонари в стиле “tri-bar”, которые последовательно загораются в качестве указателей поворота (для североамериканских моделей). В Mustang также встроено "фирменное освещение" в виде трех светящихся "световых полос", расположенных на внутренней части каждой фары, напоминающих переднюю панель, которая есть на Mustang первого поколения.</p>
        <p>Модели экспортной спецификации освещают только внешние части задних фонарей при использовании указателей поворота, а вместо "фирменного освещения" внутри фар используются отражатели. Экспортная спецификация также включает эмблему в виде крышки топливного бака на крышке багажника.</p><br>
        <p><strong>Двигатели</strong></p><br>
        <p>На момент запуска были доступны три двигателя:</p>
        <ul>
            <li>3.7-литровый V6 (под кодовым названием "Cyclone");</li>
            <li>2.3-литровый I4 (EcoBoost);</li>
            <li>5,0-литровый модульный V8 ("Coyote").</li>
        </ul>
        <p>В Shelby GT350 использовался модифицированный вариант модульного двигателя V8 под кодовым названием "Voodoo", рабочий объем которого составлял 5163 куб. см (315 кубических дюймов) с плоским коленчатым валом.</p>
        <p>2,3-литровый двигатель EcoBoost дебютировал в кроссовере Lincoln MKC 2015 года выпуска, который включает улучшения по сравнению с предыдущими итерациями. Это также вернуло в модельный ряд Mustang четырехцилиндровый двигатель, который был стандартным для автомобилей, выпускавшихся с 1974 по 1993 год, а также в моделях с турбонаддувом "SVO" с 1984 по 1986 год.</p>
        <p>В Shelby GT500 используется другой вариант модульного двигателя V8 под кодовым названием "Predator". В двигателе используется коленчатый вал в поперечной плоскости и установлен нагнетатель с двумя спиральными приводами объемом 2,7 л. На момент выпуска GT350 и GT500 были первыми, кто использовал двигатели с коваными алюминиевыми поршнями.</p><br>
        <p><strong>Интерьер</strong></p><br>
        <p>Стиль интерьера кузова Mustang напоминает кабину самолета наряду с увеличенной шириной кузова и увеличенным салоном, похожим на Ford GT. Такой дизайн дает больше места в задней части автомобиля для задних пассажиров.</p>
        <p>Металлическая табличка на приборной панели содержит эмблему и логотип Ford Mustang "Бегущая лошадь".</p><br>
        <p><strong>Модели</strong></p><br>
        <h6>Shelby GT350 (2015-2020)</h6>
        <p>В 2015 году GT350 дебютировал с 5,2-литровым двигателем V8 с плоским кривошипом мощностью 526 л.с. (392 кВт) и 429 фунт-фут (582 Н⋅ м) крутящего момента. GT350 больше ориентирован на трассу, чем GT500, и сравнивался с Camaro Z28, Porsche GT3, Mercedes-Benz C63 и BMW M4.</p>
        <h6>Bullitt (2019–2020)</h6>
        <p>Чтобы отпраздновать 50-летие фильма Буллит, Ford представил последнюю версию Mustang GT версии Bullitt на Североамериканском международном автосалоне 2018 года (NAIAS). 5,0-литровый V8 получил увеличенный на 87 мм корпус дроссельной заслонки, модифицированный коллектор GT350 и воздухозаборник холодного воздуха с повторной калибровкой, что привело к увеличению мощности до 480 л.с. (358 кВт). Шестиступенчатая механическая коробка передач - единственная коробка передач, доступная на этой модели.</p>
        <h6>Shelby GT500 (2020-2022)</h6>
        <p>В дополнение к Mustang GT версии Bullitt, после шестилетнего перерыва в 2019 году вернулось название Shelby GT500 в качестве модели 2020 года. Новый GT500 оснащен двигателем с наддувом на базе 5,2-литрового блока V8 GT350, но с поперечным коленчатым валом в отличие от плоского коленчатого вала (как в GT350), который выдает 760 л.с. (567 кВт).</p>
        <h6>Mach 1 (2021–2023)</h6>
        <p>Mach 1 вернулся как модель 2021 года, впервые с 2004 года была использована заводская табличка. Mach 1 использует 5,0-литровый двигатель GT "Coyote" V-8 мощностью 480 л.с. (358 кВт) при 7000 об / мин и 420 фунт-фут (569 Н / м) при 4600 об / мин, позаимствовав несколько деталей у моделей Shelby. Инженеры Ford изначально ориентировались на 525 л.с. (391 кВт) и 450 фунт-фут (610 Н⋅ м). Легкая шестиступенчатая механическая коробка передач TREMEC, впускной коллектор, адаптер масляного фильтра, масляный радиатор двигателя, а также передняя и задняя подрамники используются совместно с Shelby GT350, в то время как система охлаждения заднего моста, задний упор и задний диффузор используются совместно с Shelby GT500.</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(sixth_generation)">подробнее здесь</a></p>
    </div>
    <div class="textcols-item">
       <img src="/static/model12.jpg" alt="" width="100%">
    </div>
</div>


<div class="block1"><p><a name="seven"></a> </p>
    <h2 align="center" style="color: white;">СЕДЬМОЕ ПОКОЛЕНИЕ - С 2024 ГОДА</h2>
    <img src="/static/model13.jpg" alt="" width="100%">
</div>
<hr>
<div class="textcols">
    <div class="otst1 textcols-item">
        <p>Впервые показан на Североамериканском международном автосалоне 2022 года, собран на сборочном заводе Ford в Флэт-Рок и начал продаваться летом 2023 года, первоначально доступен либо с переработанным EcoBoost 2,3-литровым 4-цилиндровым двигателем с турбонаддувом мощностью 315 лошадиных сил, либо с пересмотренным 4-м поколением Coyote V8 мощностью 480-486 лошадиных сил в GT и 500 лошадиных сил в Dark Horse.</p><br>
        <p><strong>Двигатели</strong></p><br>
        <p>При запуске были доступны два двигателя: 2,3-литровый I4 турбонаддувом (EcoBoost) или 5,0-литровый модульный V8 (по прозвищу "Coyote").</p>
        <p>2,3-литровый двигатель EcoBoost был полностью переработан благодаря новым турбонаддувам с двойной спиралью и электронным заслонкой для сброса отходов, и теперь в нем используется как прямой, так и портовый впрыск топлива.</p>
        <p>Двигатель Coyote V8 объемом 5,0 л четвертого поколения получил внутренние доработки и теперь использует двойной воздухозаборник и двойные дроссельные заслонки.</p>
        <p>Модель Dark Horse получила модифицированную версию 5,0-литрового V8 с использованием уникального коленчатого вала и кованых поршневых шатунов от Shelby GT500 шестого поколения.</p><br>
        <p><strong>Трансмиссии</strong></p><br>
        <p>При запуске предлагались три коробки передач: 6-ступенчатая механическая Getrag (только GT), 6-ступенчатая механическая коробка Tremec (только Dark Horse) или 10-ступенчатая автоматическая коробка передач.</p><br>
        <p><strong>Специальные модели</strong></p><br>
        <h6>Mustang Dark Horse S</h6>
        <p>Mustang Dark Horse S - это гусеничная версия трамвая. С него убрали все несущественные детали и добавили каркас, сертифицированный FIA, а также гоночные сиденья и гоночный руль.</p>
        <h6>Mustang GTD</h6>
        <p>17 августа 2023 года Ford представил Mustang GTD, уличную версию своего гоночного автомобиля GT3 2025 модельного года. Эта модель отличается аэродинамическим дизайном и 5,2-литровым V8 с наддувом (от предыдущего поколения Shelby GT500) с установленной сзади трансмиссией. Было заявлено, что автомобиль рассчитан на мощность 800 лошадиных сил.</p>
        <p><a href="https://en.wikipedia.org/wiki/Ford_Mustang_(seventh_generation)">подробнее здесь</a></p>
    </div>
    <div class="textcols-item">
       <img src="/static/model14.jpg" alt="" width="100%">
    </div>
</div>


{% endblock %}